@font-face {
  font-family: 'Blacksword';
  src: url('/Blacksword.woff2') format('woff2'),
       url('/Blacksword.woff') format('woff'),
       url('/Blacksword.ttf') format('truetype'),
       url('/Blacksword.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



#coffeeimage{
  position: absolute;
  top: 22%;
  opacity: .73;
  outline: #ffffff solid 12px;
  left: 12px;
}

#title{
  font-family: 'Blacksword';
  position: absolute;
  top: 0%;
  text-align: center;
  left: 29px;
}

#location{
  font-family: 'Blacksword';
  position: absolute;
  top: 6%;
  font-size: 18px;
  text-align: center;
  right: 70px;
}
body{
  background-color: #baddbe;
}

#headertext{
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 10.5);
  font-family: 'Blacksword';
  top: 0%;
  width: 100%;
  text-align: center;
  background-color: #b0d5b4;
  height: 150px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 50.5);
  color: #ffffff;
}

#about{
  font-family: 'Blacksword';
  position: absolute;
  top: 12.5%;
  text-align: center;
  left: 218px;
  width: 100%;
  font-size: 20px;
  background-color: rgb(195, 237, 194);
  width: 150px;
  border-radius: 10px;
}

#menu{
  font-family: 'Blacksword';
  position: absolute;
  top: 12.5%;
  text-align: center;
  left: 24px;
  width: 100%;
  font-size: 20px;
  background-color: rgb(195, 237, 194);
  width: 150px;
  border-radius: 10px;
}

#menucontents{
  position: absolute;
  font-family: 'Blacksword';
  color: aliceblue;
  width: 100%;
}

#menucoffeeheader{
  position: absolute;
  font-size: 27px;
  top: 20px;
  left: -5px;
  width: 100%;
  height: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
  color: #baddbe;
  align-items: center;
  align-self: center;
  text-align: center;
}

.coffeelisttwelve{
  position: absolute;
  top: 99px;
  left: 10px;
  font-size: 35px;
  width: 100%;
}

.coffeelistsix{
  position: absolute;
  top: 99px;
  left: 200px;
  width: 100%;
  
  font-size: 35px;
}

.subtwelvehot{
  position: absolute;
  top: 29px;
  font-size: 20px;
  left: -19px;
  width: 100%;
}

.subtwelvecold{
  position: absolute;
  top: 65px;
  font-size: 20px;
  left: -40px;
  width: 100%;
}

.subsixhot{
  position: absolute;
  top: 29px;
  font-size: 20px;
  left: -19px;
  width: 100%;
}

.subsixcold{
  position: absolute;
  top: 65px;
  font-size: 20px;
  left: -40px;
  width: 100%;
}

#menucoffee{
  text-shadow: 2px 4px 1px rgba(0, 0, 0, 100);
}