html {
  background-image: url("/images/headerbacklong.jpeg");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.menuBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 10px;
  min-width: 500px;
  max-width: 500px;
  max-height: 50vh;
  min-height: 50vh;
}

.menuBox#Coffee {
  background-image: url("/images/coffee.png");
}

#flavorNames {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px 20px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#hot {
  margin-bottom: 10%;
  margin-top: -3%;
}

#cold {
  margin-top: 0px;
}

.menuScroll {
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000;
}

.menuBox#Stroopwafel {
  background-image: url("/images/stroop.png");
}

.menuBox#Tea {
  background-image: url("/images/tea.png");
}

.menuBox#OrangeJuice {
  background-image: url("/images/orange.png");
}

#Coffee .menuItemInfo {
  overflow-y: scroll;
}

.menuItemInfo {
  background-color: rgba(51, 39, 39, 0.5);
  box-shadow: inset 0px 0px 4px #000000;
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  font-size: calc(1.1rem + 0.5vw);
}

.menuItemTitle {
  font-size: calc(1.8rem + 1vw);
  color: #f8c359;
  text-shadow: 2px 2px 0px #000000;
  font-weight: 100;
}

.menuItemPrice {
  font-size: calc(1.2rem + 0.5vw);
  color: #f8c359;
  text-shadow: 2px 2px 0px #000000;
  font-weight: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px 20px;
  align-items: center;
  flex-wrap: wrap;
}

.menuItemDesc {
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000;
  font-weight: 100;
  width: 90%;
  gap: 20px 20px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

li {
  list-style-type: none;
  color: #f8c359;
}

@media screen and (max-width: 600px) {
  .menuBox {
    margin-bottom: 3%;
    width: 90%;
  }

  html {
    background-image: url("/images/headerbacklong.jpeg");
    background-repeat: repeat-y;
    background-size: 300vw;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
  }

  .menuBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5px;
    min-width: 25%;
    max-width: 400px;
    max-height: 30vh;
  }

  .menuItemInfo {
    background-color: rgba(51, 39, 39, 0.5);
    box-shadow: inset 0px 0px 4px #000000;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    max-height: 25vh;
    font-size: calc(1.1rem + 0.5vw);
  }
}
