@font-face {
  font-family: 'Olivade Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Olivade Regular'), url('/Olivade-gxL6q.woff') format('woff');
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

#callb{
  text-decoration: none;
  color: #d0b155;
}




#location{
   position: relative;
  z-index: 1;
  margin-left: 11.9em;
  margin-top: 0.1em;
  width: 12em;
  font-size: 1.5em;
}

body{
  background-color: #4c504d;
  overflow-x: hidden;
  overflow-x: hidden;
  background-size: 100vw;
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
}

.image-container1 {
  position: relative;
}

.menu-content {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-top {
  position: absolute;
  top: 0;
  left: 0;
}

button{
  height: 1.6em;
  border-radius: 10px;
  background-color: #323432;
  color:#d0b155;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 10px #000000;
  font-family: "Olivade Regular";
}

li{
  display: flex;
  flex-direction: row;
}



@media screen  and (min-width: 900px) and (max-width: 1980px) {
  html, body {
    overflow-x: hidden;
    height: 100vh;
  }

  #blueberryimage, #coffeeimage, #waterimage, 
  #orangeimage, #teaimage, #croissantimage, #hotchocimage, 
  #brownimage, #cheesedanishimage, #raspberrydanishimage, #biscuitimage,
  #bagelimage, #oatmealimage, #eggimage{
    border-radius: 10px;
    opacity:  0.90;
    margin:  1em 0em 0em 0em;
    width: 25em;
    height: 22em;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.6);
  }

  #images {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important; 
    justify-content: space-between !important;
    margin-left: 0em !important;
    margin-top: 0.3em !important;
    height: 10vh !important;
  }
  


  #aboutus{
    height: auto;
    width: 50vw;
    font-size: 6.3vw;
    margin-left: 0.7em;
    margin-top: 25vh;
  }
 
  #aboutblurb{
    background-color: #333633;
    border-radius: 10px;
    padding-right: 5.8em;
    padding-top: 50vh;
    margin-top: -45vh;
    margin-left: 1.3em;
    text-align: center;
    width: 70vw;
    font-family: "Olivade Regular";
    color: #f8c359;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
    font-size: 2.5vw;
  }

  #textblurb{
    margin-top: -5vh;
    margin-left: 6.07em;
    width: auto;
    padding-bottom: 5vh;
  }
  
  #hours{
    margin-top: -29vh;
    margin-left: 4.47em;
    text-align: center;
    width: 50vw;
    font-size: 4.7vw;
    font-family: "Olivade Regular";
    color: #f8c359;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 2vh;
  }


  #title{
    font-family: "Olivade Regular";
    color: #f8c359;
    text-shadow: 6px 4px 1px rgba(0, 0, 0, 0.9);
    margin-left: 30vw;
    margin-top: 2vh;
    font-size: 5vw;
  }

  .menu-top{
    width: 80vw;
    height: auto;
  }

  #location{
    font-family: "Olivade Regular";
    color: #f8c359;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.9);
    margin-left: 20.3em;
    font-size: 1.9vw;
    width: 80vw;
    margin-top: -1.0vh;
  }

  .image-container1{
    padding-bottom: 2vh;
    border-radius: 10px;
    box-shadow: inset 2px 2px 20px 5px rgba(0, 0, 0, 0.6);
  }
  
  #house{
    border-radius: 10px;
    opacity:  1;
    margin:  1vh 0em 0em 28.8vw;
    width: 45vw;
    height: 80vh;
    padding-bottom: 0em;
    padding-left: 00vw;
    padding-right: 0vw;
  }

  .topbuttons{
    display: flex;
    flex-direction: row;
    margin-left: 23vw;
    margin-top: 55vh;
    width: 100em;
    scale: 70%;
    align-content: center;
  }



#bagelimage{
  width: 25.3em;
  margin-left: 0.9em;
  margin-right: -0.2em;
}

body{
    font-size: 1.5em;
      background-color: #4c504d;
      overflow-x: hidden;
      background-image: url("/images/headerbacklong.jpeg");
      background-repeat: repeat-y;
      background-size: 105vw;
      width: 99%;
  }

#biscuitimage{
  margin-left: 0.1em;
  margin-right: -1.2em;
}

  #about{
  font-size: 3vw;
  margin-left: 0.3em;
  margin-top: -13vh;
  }

  #menu{
    font-size: 3vw;
    margin-left: 0.1em;
    margin-top: -13vh;
  }

  #call{
    font-size: 3vw;
    margin-left: -7.89em;
    margin-top: -2vh;
    width: 24.8vw;
  }

  .menu-content{
    width: 1em;
  }

#menucoffeeheader, .tealist, 
#orangeheader, #waterheader, 
#hotchocheader, #croissantheader, #scones, #brownsugarcakeheader,
#cheesedanishheader, #raspberrydanishheader, #biscuitheader,
#bagelheader, #oatmealheader, #oatmealflavors, #eggheader{
  font-family: "Olivade Regular";
  color: #ffffff;
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-left: -1.8em;
  width: 20em;
  font-size: 1.5em;
  margin-top: 0.5em;
  text-align: center;
  justify-content: center;
}

#hotchocheader{
  margin-left: -2.2em;
}
  
#menucoffee, .menutea,
#menuorange, #menuwater, #menuhotchoc, #menucroissant, #menuscone, 
#menubrownsugarcake, #menucheesedanish, #menuraspberrydanish, #menubiscuit,
#menubagel, #menuoatmeal, #menuegg{
  font-family: "Olivade Regular";
  color: #f8c359;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  background-color: #45433e;
  border-radius: 10px;
  width: 20em;
  font-size: 1.1em;
  box-shadow: inset 0 0 10px #000000;
  margin-left: 1.9em;
}

#menucoffee{
  margin-left: 1.4em;
  margin-top: 2em;
}

#milknote{
  text-align: center;
  margin-top: -5em;
}

#stroop{
  margin-top: 4em;
}

.subsixcold{
  margin-left: 4em;
}

.subsixhot{
  margin-left: 1em;
}

.subtwelvecold{
  margin-left: 4.0em;
}

.subtwelvehot{
  margin-left: 2.0em;
}

#hot{
  margin-left: 1.9em;
  margin-top: 1.9em;
}

#iced{
  margin-left: 1.5em;
  margin-top: 2.2em;
}

.menutea{
  height: 4em;
  margin-top: 0.3em;
}

#teasix{
  margin-left: 1.9em;
  margin-top: 1.9em;
}

.tealist{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;
}

#teatype{
  margin-top: 1.3em;
  margin-left: 0.4em;
}

#teaprice{
  margin-top: 1.4em;
  margin-left: 5em;
}

#orangeheader{
  margin-top: 1em;
  margin-left: -3.7em;
  text-align: center;
  font-size: 2.1em;
}

#menuorange{
  margin-top: 4.4em;
  height: 4em;
}

#glass{
  margin-top: 1em;
  margin-left: 2em;
  font-size: 1.1em;
}

#op{
  margin-top: -1.2em;
  margin-left: 16em;
}

#hotchocheader{
  margin-top: 1em;
  margin-left: -4.3em;
  text-align: center;
  font-size: 2.1em;
}

#menuhotchoc{
  margin-top: 1em;
  margin-left: 0.8em;
  height: auto;
}

#regormint{
  text-align: center;
}

#addins{
  text-align: center;
  margin-top: 3em;
  margin-left: 3em;
}

#glasshotchoc{
  margin-top: 1em;
  margin-left: -13em;
  font-size: 1.1em;
}

#croissantheader{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;
}

#limited{
  font-family: "Olivade Regular";
  color: #ba9f3f;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  margin-left: 5.3em;
  font-size: 2vw;
  width: max-content;
}

#hcp{
  margin-top: -1.3em;
  margin-left: -0.3em;
}

#menucroissant{
  margin-top: 1.0em;
  height: 9.9em;
}

#croissantflavors{
  line-height: 2em;
  margin-left: 1.5em;
  text-align: center;
}

#buttered{
  margin-top: 1em;
  margin-left: 0.2em;
  text-align: center;
}

#ham{
  margin-left: -0.6em;
}

#cp1{
  margin-top: 0em;
  margin-left: 10.5em;
}

#cp2{
  margin-left: 8.5em;
}

#cp3{
  margin-left: 10.5em;
}

#cp4{
  margin-left: 10em;
}

#spinach{
  position: relative;
  margin: 0vh 0vw 0vh -0.8em;
}

#cp5{
  position: relative;
  margin: 0vh 0vw 0vh 8.1em;
}

#scones{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;

}

#menuscone{
  margin-top: 3.7em;
  height: 3.9em;
}

#blueberry{
  margin-top: 1em;
  margin-left: 1.5em;
  text-align: center;
}

#bp{
  margin-top: 1em;
  margin-left: 10em;
}

#cakeprice{
  margin-top: -2.7em;
}

#slice{
  margin-top: 1em;
  margin-left: 1.5em;
  text-align: center;
}

#sliceprice{
  margin-top: 1em;
  margin-left: 10em;
}

#brownsugarcakeheader{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;
}

#menubrownsugarcake{
  margin-top: 4.1em;
  height: 3.9em;
}

#cheesedanishheader{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;
}

#menucheesedanish{
  margin-top: 3.8em;
  height: 3.9em;
}

#slicecheese{
  margin-top: 1em;
  margin-left: 1.5em;
  text-align: center;
}

#slicepricecheese{
  margin-top: 1em;
  margin-left: 9.4em;
}

#raspberrydanishheader{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;
}

#menuraspberrydanish{
  margin-top: 3.8em;
  height: 3.9em;
}

#sliceraspberry{
  margin-top: 1em;
  margin-left: 1.5em;
  text-align: center;
}

#slicepriceraspberry{
  margin-top: 1em;
  margin-left: 9.4em;
}

#menubiscuit{
  margin-top: 0.5em;
  margin-left: 1.5em;
  height: auto;
}

#biscuitheader{
  margin-top: 1em;
  margin-left: -4.0em;
  text-align: center;
  font-size: 2.1em;
}

#biscuitprice1{
  margin-top: 1em;
  margin-left: 1.5em;
  text-align: center;
}

#biscuitprice2{
  margin-top: 1em;
  margin-left: 3.8em;
}

#fixings{
  text-align: center;
  font-size: 0.9em;
  margin-top: 1.8em;
  margin-left: 2.4em;
  padding-bottom: 40px;
}

#bagelheader{
  margin-top: 1em;
  margin-left: -3.6em;
  text-align: center;
  font-size: 2.1em;
}

#menubagel{
  margin-top: 0.4em;
  margin-left: 2.3em;
  height: auto;
}

#bagelprice1{
  margin-top: 1em;
  margin-left: 2.0em;
  font-size: 0.9em;
  text-align: center;
}

#bagelprice2{
  margin-top: 1em;
  margin-left: 8em;
}

#fixings2{
  text-align: center;
  font-size: 0.9em;
  margin-top: 1.6em;
  margin-left: 2.4em;
  padding-bottom: 15px;
}

#eggheader{
  position: relative;
  margin-top: 5.3vh;
  margin-left: -4.3em;
  font-size: 2.3em;
  }

  #menuegg{
    height: auto;
    margin-left: 1.4em;
    margin-top: 2.5em;
  }

  #eggprice{
    text-align: center;
    margin-left: 3.3em;
    margin-top: 7.5vh;
  }

  #eggprice1{    
    margin-left: -1em;
    margin-top: 1.5vh;
  }

  #eggprice2{
    margin-left: 4.3em;
    margin-top: 1.7vh;
  }

  #eggfixings{
    text-align: center;
    margin-left: 2.3em;
    margin-top: 1.5vh;
  }

#menuoatmeal{
  margin-top: 2.3em;
  margin-left: 1.4em;
  height: 5em;
}

#oatmealheader{
  margin-top: 1em;
  margin-left: -4.3em;
  font-size: 2.2em;
}

#oatmealflavors{
  margin-top: -0.6em;
  margin-left: -1.5em;
  text-align: center;
}

#oatmealimage{
  margin-top: 1em;
}

#oatmealprice1{
  margin-top: 1em;
  margin-left: 2.5em;
  font-size: 0.9em;
  text-align: center;
}

#oatmealprice2{
  margin-top: 1em;
  margin-left: 10.6em;
}

#pecans{
  font-size: 0.9em;
  margin-top: 1em;
  margin-left: 0.8em;
}

#pecanprice{
  margin-top: -1.5em;
  margin-left: 15.7em;
}
}



@media screen and (min-width: 280px) and (max-width: 499px) {
  html, body {
    overflow-x: hidden;
    height: 100%;
  }

  #aboutus{
    width: 85vw;
    font-size: 6.3vw;
    margin-left: 1.5em;
    margin-top: -610vh !important;
    font-size: .9em;
    height: auto;
  }
 
  #aboutblurb{
    background-color: #333633;
    border-radius: 10px;
    padding-right: 0.8em;
    margin-left: 0.2vw;
    text-align: center;
    font-family: "Olivade Regular";
    color: #bb9733;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
  }

  #textblurb{
    margin-left: .97em;
    width: auto;
  }


  #images{
    width: 1.0em;
  }

  body{
      overflow-x: hidden;
      background-image: url("/images/headerbacklong.jpeg");
      background-repeat: repeat-y;
      background-size: 400vw;
  }

  #title{
    font-family: "Olivade Regular";
    color: #f8c359;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.8);
    margin-left: 0.8em;
    margin-top: 0vh;
    font-size: 9.76vw;
    width: max-content;
  }

  .menu-top{
    margin-left: -1em;
    margin-right: 1em;
    margin-top: 1.6vh;
    width: 90vw;
    font-size: 3.6vw;
    align-content: center;
  }

  #location{
    font-family: "Olivade Regular";
    color: #f8c359;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.8);
    margin-top: -0.2em;
    margin-left: 3.0em;
    font-size: 5.7vw;
    width: 80vw;
  }
  
  #house{
    border-radius: 10px;
    opacity:  1.90;
    margin:  1em 0em 0em -4vw;
    width: 86vw;
    height: 38vh;
    padding-bottom: 5em;
    padding-left: 1.9em;
    padding-right: 1.45vw;
  }

  .topbuttons{
    display: flex;
    flex-direction: row;
    margin-left: 1.8em;
    margin-top: 30.7vh;
    width: 100vw;
    font-size: 3.3vw;
    align-content: center;
  }

  #about{
    padding: 0.1em 0.1em 0.1em 0.1em;
  }

  #menu{
    padding: 0.1em 0.1em 0.1em 0.1em;
  }

  #call{
    padding: 0.1em 0.1em 0.1em 0.1em;
  }

  button{
    font-size: 6vw;
  }
  

  #blueberryimage, #coffeeimage, #waterimage, 
#orangeimage, #teaimage, #croissantimage, #hotchocimage, 
#brownimage, #cheesedanishimage, #raspberrydanishimage, #biscuitimage,
#bagelimage, #oatmealimage, #eggimage{
  border-radius: 10px;
  opacity:  0.90;
  margin:  1em 0em 0em -1vw;
  width: 90vw;
  height: 45vh;
  box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.6);
}



  #menucoffee, .menutea,
  #menuorange, #menuwater, #menuhotchoc, #menucroissant, #menuscone, 
  #menubrownsugarcake, #menucheesedanish, #menuraspberrydanish, #menubiscuit,
  #menubagel, #menuoatmeal, #menuegg{
    font-family: "Olivade Regular";
    color: #ccbd49;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
    background-color: #333633;
    border-radius: 10px;
    width: 80vw;
    box-shadow: inset 0 0 10px #000000;
  }

  #menucoffeeheader, .tealist, 
#orangeheader, #waterheader, 
#hotchocheader, #croissantheader, #scones, #brownsugarcakeheader,
#cheesedanishheader, #raspberrydanishheader, #biscuitheader,
#bagelheader, #oatmealheader, #oatmealflavors, #eggheader{
  font-family: "Olivade Regular";
  color: #e1ba2c;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-size: 4.4vw;
  width: 100%;
  height: auto;
}

  #images{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: -1;
    align-content: center;
    margin-top: 1vh;
    margin-left: 47vw;
  }

  .image-container1{
    padding-bottom: -9vh;
    border-radius: 10px;
    width: 91vw;
    margin-left: 0.8em;
  }

#menucoffeeheader{
  position: relative;
  margin-top: 2vh;
  font-size: 7.4vw;
  margin-left: 0em;
  }

  
#menucoffee{
  position: relative;
  margin-left: 3.9vw;
}


#hot{
  position: relative;
  margin-top: 1.9vh;
  font-size: 7.4vw;
  margin-left: 1.5em;
  
}

#iced{
  position: relative;
  margin-top: 1.7vh;
  font-size: 7.4vw;
  margin-left: 1.4em;

}

#coffeeimage{
  height: auto;
}

.coffeelistsix{
  width: 10vw;
  font-size: 1em;
  margin-top: -2vh;
}

.coffeelisttwelve{
  margin-top: 1vh;
  width: 1em;
  font-size: 1vw;
}

.subtwelvecold{
  margin-top: 3vh;
  font-size: 4.4vw;
  margin-left: 0.9em;
}

.subtwelvehot{
  margin-top: 3vh;
  font-size: 4.4vw;
  margin-left: 1em;
}

.subsixhot{
  margin-top: 1vh;
  font-size: 4.4vw;
  margin-left: .5em;
}

.subsixcold{
  margin-top: 1vh;
  font-size: 4.4vw;
  margin-left: 0.5em;
}


#milknote{
  margin-top: 1vh;
  text-align: center;
  font-size: 4.4vw;
  margin-left: -1em;
}

#stroop{
  margin-top: -3vh;
  text-decoration: underline;
  text-underline-position: under; 
  margin-left: 1.4em;
}

#icednote{
  text-align: center;
  margin-left: 1.4em;
}

.tealist{
  position: relative;
  margin-top: 4vh;
  font-size:  2em;
  font-size: 9.4vw;
  margin-left: 0em;
}

.menutea{
  position: relative;
  margin-top: 6vh;
  height: 100px;
  justify-content: center;
  margin-left: 1.9vh;
}

#teatype{
  font-size: 4.4vw;
  margin-left: 1.9em;
  margin-top: 4.9vh;
}

#teaprice{
  position: relative;
  font-size: 4.4vw;
  margin-left: 4.9em;
  margin-top: 5vh;
}

#orangeheader{
  position: relative;
  margin-top: 2vh;
  font-size: 9.4vw;
  margin-left: 0em;
}

#glass{
  position: relative;
  font-size: 5.4vw;
  margin-left: 1.9em;
  margin-top: 1em;
  padding-bottom: 17px;
  padding-top: 4px;
}

#op{
  position: relative;
  font-size: 4.4vw;
  margin-left: 14.6em;
  margin-top: -5vh;
  padding-bottom: 20px;
}


#menuorange{
  position: relative;
  margin-top: 12vh;
  margin-left: 1.9vh;
}

#limited{
  font-family: 'Olivade Regular';
}

#hotchocheader{
  position: relative;
  margin-top: 2vh;
  font-size: 2em;
  font-size: 8.4vw;
  margin-left: 0em;
}

#limited{
  position: relative;
  color: #e1ba2c;
  text-shadow: 2px 2px 1px #000000;
  font-size: 5vw;
  margin-left: 6em;
}

#regormint{
  font-size: 5.4vw;
  margin-left: 4.9em;
}

#glasshotchoc{
  position: relative;
  font-size: 6.4vw;
  margin-left: -9.9em;
}

#hcp{
  position: relative;
  font-size: 4.4vw;
  margin-left: 0em;
  margin-right: 0.5em;
  margin-top: -2vh;
}

#addins{
  position: relative;
  text-align: center;
  width: 100vw;
  margin-top: 4vh;
  font-size: 4.9vw;
  margin-left: 4.0em;
}

#menuhotchoc{
  position: relative;
  margin-top:2vh;
  height: auto;
  margin-left: 1.9vh;
}

#croissantheader{
  position: relative;
  margin-top: 2vh;
  font-size: 9.4vw;
  margin-left: 0em;
}

#cp1{
  position: relative;
  margin: 0vh 0vw 0vh 6.5em;
}
#ham{
  position: relative;
  margin: 0vh 0vw 0vh -5vw;
}


#cp2{
  position: relative;
  margin: -.03vh 0vw 0vh 4.6em;
} 

#cp3{
  position: relative;
  margin: 0vh 0vw 0vh 6.5em;
}

#cp4{
  position: relative;
  margin: 0vh 0vw 0vh 6em;
}

#spinach{
  position: relative;
  margin: 0vh 0vw 0vh -6vw;
}

#cp5{
  position: relative;
  margin: 0vh 0vw 0vh 4.3em;
}

#croissantflavors{
  text-align: center;
  position: relative;
  margin: 2vh 0vw 0vh 16vw;
  width: 100vw;
  font-size: 1.2em
}

#menucroissant{
  position: relative;
  margin-top: 5vh;
  font-size: 4.4vw;
  margin-left: 0.9em;
}

#scones{
  position: relative;
  margin-top: 1vh;
  font-size: 3em;
  font-size: 9.4vw;
  margin-left: 0em;
}

#menuscone{
  position: relative;
  margin-top: 8vh;
  height: 50px;
  margin-left: 1.9vh;
}

#blueberry{
  position: relative;
  font-size: 6.4vw;
  margin-left: 1em;
  margin-top: 1vh;
}

#bp{
  position: relative;
  font-size: 3.4vw;
  margin-left: 10em;
  margin-top: 2vh;
}

#brownsugarcakeheader{
  position: relative;
  margin-top: 1vh;
  font-size: 9.4vw;
  margin-left: 0em;
  font-size: 9.4vw;
  margin-left: 0em;
}

#menubrownsugarcake{
  position: relative;
  margin-top: 7vh;
  height: 50px;
  margin-left: 1.9vh;
}

#cakeprice{
  position: relative;
  font-size: 4.4vw;
  margin-left: -10em;
  margin-top: -2vh;
}

#slice{
  font-size: 1.1em;
  position: relative;
  margin: 1.5vh -4vw 0vh 10em;
}

#sliceprice{
  position: relative;
  margin: 0.8em 0vw 0vh 12em;
}

#cheesedanishheader{
  position: relative;
  margin-top: 2vh;
  font-size: 9.23vw;
  margin-left: 0em;
  margin-top: 1.5vh;
  }

#menucheesedanish{
  position: relative;
  margin-top: 10vh;
  height: 50px;
  margin-left: 1.9vh;
  }

  #slicecheese{
    position: relative;
    font-size: 4.4vw;
    margin-left: 1em;
    margin-top: 1.5vh;
    }

    #slicepricecheese{
    position: relative;
    font-size: 4.23vw;
    margin-left: 10em;
    margin-top: 1.5vh;
    }

  #raspberrydanishheader{
  position: relative;
  font-size: 9.23vw;
  margin-left: 0em;
  margin-top: 1.5vh;
  }

  #sliceraspberry{
  position: relative;
  font-size: 4.23vw;
  margin-left: 1em;
  margin-top: 1.5vh;
  width: max-content;
  }

  #slicepriceraspberry{
  position: relative;
  font-size: 4.23vw;
  margin-left: 10em;
  margin-top: 1.5vh;
  }

#menuraspberrydanish{
  position: relative;
  margin-top: 10vh;
  height: 50px;
  margin-left: 1.9vh;
  }

  #biscuitheader{
  position: relative;
  margin-top: 1vh;
  font-size: 2.9em;
  }

  #biscuitprice{
    text-align: center;
    margin-left: 3em;
    padding-top: 10px;
  }

  #biscuitprice1{
    font-size: 5.23vw;
    margin-left: -1.5em;
    margin-top: 1.5vh;
  }

  #biscuitprice2{
    font-size: 4.23vw;
    margin-left: 3em;
    margin-top: 1.5vh;
  }


#menubiscuit{
  position: relative;
  font-size: 4.23vw;
  margin-left: 1em;
  margin-top: 5.5vh;
  height: auto;
  }

  #fixings{
    text-align: center;
    font-size: 4.23vw;
    margin-left: 0.9em;
    margin-top: 1.5vh;
  }

  #bagelheader{
  position: relative;
  margin-top: 1vh;
  font-size: 2.9em;
  }

  #menubagel{
    height: auto;
    font-size: 4.23vw;
    margin-left: 1em;
    margin-top: 1.5vh;
  }

  #bagelprice{
    text-align: center;
    font-size: 4.53vw;
    margin-left: 2.9em;
    margin-top: 3.5vh;
  }

  #fixings2{
    text-align: center;
    font-size: 4.23vw;
    margin-left: 0.9em;
    margin-top: 1.5vh;
  }

  #bagelprice1{    
    font-size: 5.23vw;
    margin-left: -1em;
    margin-top: 1.5vh;
  }

  #bagelprice2{
    font-size: 4.23vw;
    margin-left: 4.3em;
    margin-top: 1.5vh;
  }

  #cinbutter{
    position: absolute;
    margin-left: 3em;
  }


  #eggheader{
  position: relative;
  margin-top: 3vh;
  font-size: 2.3em;
  }

  #menuegg{
    height: auto;
    font-size: 4.23vw;
    margin-left: 1em;
    margin-top: 1.5vh;
  }

  #eggprice{
    text-align: center;
    font-size: 4.53vw;
    margin-left: 2.3em;
    margin-top: 7.5vh;
  }

  #eggprice1{    
    font-size: 5.23vw;
    margin-left: -1em;
    margin-top: 1.5vh;
  }

  #eggprice2{
    font-size: 4.23vw;
    margin-left: 4.3em;
    margin-top: 1.5vh;
  }

  #eggfixings{
    text-align: center;
    font-size: 4.23vw;
    margin-left: 1.7em;
    margin-top: 1.5vh;
  }


  #oatmealheader{
  position: relative;
  margin-top: 1vh;
  font-size: 12.0vw;
  }

#menuoatmeal{
  position: relative;
  margin-top: 7vh;
  height: 6em;
  margin-left: 1em;
  }

  #oatmealprice{
  position: relative;
  font-size: 4.23vw;
  margin-left: -1em;
  margin-top: 1.5vh;
}


  #oatmealprice1{
  position: relative;
  font-size: 4.23vw;
  margin-left: 2.9em;
  margin-top: 1.5vh;
}

  #oatmealprice2{
  position: relative;
  font-size: 4.23vw;
  margin-left: 10.5em;
  margin-top: 1.5vh;
  }

  #pecans{
  position: relative;
  font-size: 4.23vw;
  margin-left: 0.9em;
  margin-top: 1.5vh;
  }

  #pecanprice{
  position: relative;
  font-size: 4.23vw;
  margin-left: 15.6em;
  margin-top: -2.7vh;

  }

  #oatmealflavors{
  position: relative;
  font-size: 8.23vw;
  margin-left: .1em;
  margin-top: -1vh;

  }

}




