@font-face {
  font-family: "Blacksword";
  src: url("/Blacksword.woff2") format("woff2"),
    url("/Blacksword.woff") format("woff"),
    url("/Blacksword.ttf") format("truetype"),
    url("/Blacksword.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media only screen and (max-width: 500px) {

body {
  background-color: #baddbe;
  font-family: "Blacksword";
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  overflow-x: hidden;
}


#headertext {
  display: flex;
  position: relative;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #b0d5b4;
  padding-top: 5%;
  flex-direction: column;
  border-radius: 1vh;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin-bottom: 3%;
  box-sizing: border-box;
 
}

.topbuttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
  width: 100vw;
}


#title {
  text-align: center;
  margin: 0;
}

#location {
  text-align: center;
}

#about{
  position: inherit;
  }

#menu{
  position: inherit;
  }
  

#call{
  position: inherit;
  padding-top: 1vh;
  padding-bottom: 2vh;
  width: 50vw; 
}

button {
  font-family: "Blacksword";
  font-size: 20px;
  background-color: rgb(195, 237, 194);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#images {
  position: absolute;
  z-index: -1;
  flex-direction: column;
  display: flex;
  margin-left: 1%;
  
}

#coffeeimage {
  z-index: -1;
  opacity: 0.73;
  background-color: #87b38b;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  width: 90vw;
  height: 48vh;
  margin-left: 2.7vw ;
} 

#hotchocimage{
  z-index: -1;
  opacity: 0.73;
  background-color: #87b38b;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  width: 90vw;
  height: 55vh;
  margin-left: 2.7vw ;
  margin-top: 1vh;
}

#hotchocheader{
  position: inherit;
  font-size: 9vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  margin-top: 42vh;
  margin-bottom: 100px;
  width: 100vw;
}

#menuhotchoc{
  position: inherit;
  font-size: 6vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  text-align: center;
  margin-top: -30vh;
  margin-bottom: 1vh;
  margin-left: -5.7vw;
  width: 100%;
}

#hotchocprice{
  position: inherit;
  font-weight: 100;
  font-size: 6vw;
  color: #ffffff;
  text-shadow: 2px 4px 4px rgb(0, 0, 0);
  line-height: 2px;
  height: 27vh;
  background-color: #baddbe;
  margin-top: 3vh;
  width: 74vw;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-left: 9.5vw;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  align-content: center;  
}

#limited{
  margin-top: -13vh;
  margin-left: 3vh;
  font-size: 5vw;
}

#regormint{
  margin-top: -19vh;
  font-size:7vw;
  margin-left: -3vw;
  width: 100vw;
  color: #ffffff;
  margin-right: -76vw;
}

#addins{
  position: relative;
  font-size: 5.6vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #ffffff;
  margin-top: 15.4vh;
  margin-left: 0vw;
  width: 100vw;
  line-height: 20px;
}

#glasshotchoc{
  position: relative;
  margin-left: -128.7vw;
  margin-top: -3vh;
  font-size: 7vw;
}

#hcp{
  position: relative;
  margin-left: -20.7vw;
}



#waterimage{
  z-index: -1;
  opacity: 0.73;
  background-color: #87b38b;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  width: 90vw;
  height: 38vh;
  margin-left: 2.7vw ;
  margin-top: 1vh;
}

#waterheader{
  position: inherit;
  font-size: 9vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  margin-top: 42vh;
  margin-bottom: 100px;
  width: 100vw;
}

#menuwater{
  position: inherit;
  font-size: 6vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  text-align: center;
  margin-top: -30vh;
  margin-bottom: 1vh;
  margin-left: -5.7vw;
  width: 100%;
}

#waterprice{
  position: inherit;
  font-weight: 100;
  font-size: 6vw;
  color: #ffffff;
  text-shadow: 2px 4px 4px rgb(0, 0, 0);
  line-height: 2px;
  height: 10vh;
  background-color: #baddbe;
  margin-top: -3vh;
  width: 70vw;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-left: 11.5vw;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
} 

#glasswater{
  margin-left: -18vh;
}

#wp{
  margin-left: 41vw;
}

#orangeimage{
  z-index: -1;
  opacity: 0.73;
  background-color: #87b38b;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  width: 90vw;
  height: 38vh;
  margin-left: 2.7vw ;
  margin-top: 1vh;
}

#orangeheader{
  position: inherit;
  font-size: 9vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  margin-top: 10vh;
  margin-bottom: 100px;
  width: 100vw;
}

#menuorange{
  position: inherit;
  font-size: 6vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  text-align: center;
  margin-top: -30vh;
  margin-bottom: 1vh;
  margin-left: -5.7vw;
  width: 100%;
}

#orangeprice{
  position: inherit;
  font-weight: 100;
  font-size: 6vw;
  color: #ffffff;
  text-shadow: 2px 4px 4px rgb(0, 0, 0);
  line-height: 2px;
  height: 10vh;
  background-color: #baddbe;
  margin-top: -4vh;
  width: 70vw;
  padding-right: 13vw;
  margin-left: 42px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#op{
  margin-left: 0vw;
}

#glass{
  position: inherit;
  margin-left: -80vw;
  font-size:7vw;
  }

  #wholeorange{
    position: inherit;
    margin-left: 65vw;
    text-align: center;
    
  }


#teaimage{
  z-index: -1;
  opacity: 0.73;
  background-color: #87b38b;
  height: 250px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  width: 90vw;
  height: 38vh;
  margin-left: 2.7vw ;
  margin-top: 1vh;
}

#menucontents {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: center;
  justify-self: center;
  color: #ffffff;
  margin-top: 50%;
}

#menucoffeeheader {
  position: relative;
  font-size: 6vw;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  color: #baddbe;
  margin-top: -20.9vh;
  margin-bottom: 1vh;
  margin-left: 14vw;
  width: 100vw;
}

#milknote{
  position: inherit;
  font-weight: 100;
  text-align: center;
  font-size: 7vw;
  color: #ffffff;
  text-shadow: 2px 4px 4px rgb(0, 0, 0);
  margin-top: 1vh;
  line-height: 32px;
}


#menucoffee {
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  
}

li{
  position: inherit;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  
}

.tealist{
  line-height: 30px;
  position: inherit;
  font-size: 8.9vw;
  list-style: none;
  margin-top: -40vh;
  text-align: center;
  color: #baddbe;
  font-weight: 200;
  width: 100vw;
  margin-left: 0vw;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

#teasix{
  position: inherit;
  font-size: 5.2vw;
  list-style: none;
  margin-top: -5vh;
  color: #ffffff;
  font-weight: 200;
  background-color: #baddbe;
  border-radius:10px;
  width: 80vw;
  height: 10vh;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 4vh;
  margin-left: -90vw;
}

#teaspan{

}

#teaprice{
margin-left: 35px;
}

#teatype{
margin-left: -2px;
font-size: 5.2vw;
}

.menutea{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 65vh;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}



.coffeelisttwelve {
  background-color: #baddbe;
  border-radius: 1vh;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10%;
  padding-top: 2.9vh;
  padding-left: 17vw;
  padding-right: 18vw;
  height: 10vh;
  width: 50vw;
  margin-left: 15.5vw;
  outline-width: 1vw;
  font-size: 8.3vw;
}

.coffeelistsix {
  margin-top: -4vh;
  background-color: #baddbe;
  border-radius: 1vh;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding-top: 2.9vh;
  padding-left: 17vw;
  padding-right: 18vw;
  height: 10vh;
  width: 50vw;
  margin-left: 15.5vw;
  outline-width: 1vw;
  font-size: 8.3vw;
  
}

.subtwelvehot{
 position: inherit;
 margin-top: -1.5vh;
 margin-left: 0vw;
 font-size: 6.3vw;
}

.subtwelvecold{
 position: inherit;
 margin-top: -1.5vh;
 font-size: 6.3vw;
}

.subsixhot{
  position: inherit;
 margin-top: -1.5vh;
 margin-left: -13vw;
 font-size: 6.3vw;
}

.subsixcold{
  position: inherit;
 margin-top: -1.5vh;
 font-size: 6.3vw;
}
}